/* reset css */ 

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }

 
.header-wrapper{
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  /* background-color: brown; */
  margin: 0 auto;
}

.main-header ul{
  list-style: none;
  display: flex;
}

nav ul li{
  padding-right: 1.5rem;
}

.main-header a{
  text-decoration: none;
  color: black;
}

.btn{
  border: 1px solid black;
  margin: 0.6rem 0;
  border-radius: .2rem;
}

.sign-in{
  padding: 8px 16px;
}

.right-buttons{
            gap: 10px;
}

.fire-buy{
        display: flex;
        justify-content: center;
        margin-top: 50px;
}

.personal{
      display: block;
      margin-right: 15px;
      border-style: none;
      padding-top: 30px;
      padding-right: 90px;
      padding-left: 20px;
      padding-bottom: 50px;
      width: 350px;
      box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perpetual{
      display: block;
      margin-left: 15px;
      border-style: none;
      padding-top: 30px;
      padding-right: 30px;
      padding-left: 20px;
      padding-bottom: 50px;
      width: 350px;
      box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.listing{
        margin-top: 15px;
}

.image{
    display: block;
    width: 50px;
    margin-bottom: 10px;


}


.person{
      display: block;
     
      padding-bottom: 10px;
      margin-right: auto;
}

#sub{
  margin-bottom: 10px;
}
#big{
  
  font-size: xx-large;
}

#buy-btn{
  width: 310px;
  display: flex;
  background-color:#E10992ff;

  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding-right: 120px;

  padding-left: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 200px;
  color: #FFFFFFff;

 
}


.sub-header{
          text-align: center;
          margin-top: 50px;
          margin-bottom: 20px;
          
}

#sub-head-child{
            text-align: center;

}
#foot{
  text-align: center;
  margin-top: 50px;
}

.icon-container, .icon{
  display: flex;
  justify-content: center;
  gap: 5px;

}

.test{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}

.icon-text{
  margin-top: 5px;
}
