*{
    margin: 0;
    padding: 0;
    padding: none;
    box-sizing: border-box;
}




.bg-image{
    display: flex;
    width: 100%;
    max-width: 1512px;
    height: 1139px;
    background-image: url(images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering\ 1.png);
    flex-direction: column;
    background-repeat: no-repeat;
}

.header-container{

    display: flex;
    

}

.logo{
    width: 191px;
height: 122px;
margin-top: 100px;
margin-left: 50px;
gap: 0px;
opacity: 0px;

}

.list{
    display: flex;
    list-style: none;
    width: 575px;
    height: 30px;
    margin-top: 50px;
    margin-left: 690px;
    justify-content: space-evenly;
    color: #FFFFFF;

}

h1{
    width: 1100px;
    height: 244px;
    margin-top: 35px;
    margin-left: 200px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 98px;
    font-weight:700;
    line-height: 121.9px;
    text-align: center;
    color: #FFFFFF;
}

h3{
    width: 900px;
    height: 74px;
    margin-top: 50px;
    margin-left: 316px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
    text-align: left;
    color: #FFFFFF;
}

.btn{
    width: 353px;
    height: 80px;
    margin-top: 100px;
    margin-left: 579px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255, 0.6);
    color: #21292C;
    font-weight: 100;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 42.67px;
    text-align: center;
    border: 2px solid #FFFFFF
}

.list2{
    display: flex;
    list-style: none;
    width: 1290px;
    height: 224px;
    margin-top: -255px;
    margin-left: 111px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background: #006970;
}

.highlight{
    font-size: 70px;
    font-weight: 700;
}

.group{
    color:  #FFFFFF;
    text-align: center;
    border-right: 2px solid white;
    width: 300px;
    height: 150px;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.group:last-child{
    border-right: none;
}

.create{
    display: flex;
}

.your-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-create{
    width: 629px;
    height: 557px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10px;
}

.create-subject{
    width: 550px;
    height: 144px;
    margin-top: 120px;
    margin-left: 20px;
    font-family: Amazon Ember;
    font-size: 70px;
    font-weight: 500;
    line-height: 71.82px;
    text-align: left;
    color: #525252;
}

.create-text{
    font-family: Amazon Ember;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 25px;
    font-weight: 500;
    line-height: 33.92px;
    text-align: left;
    color: #525252;
}

.image-container{
    position: relative;
    text-align: center;
}

.image-container img{
    display: block;
    height: 557px;
    display: block;
}

.image-container .text{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.76px;
    text-align: center;
    color: #FFFFFF;
}

.image-container1{
    position: relative;
}
.image-container1 .text1{
    position: absolute;
    bottom: 10px;
    right: 0;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
}

.head{
    font-family: Montserrat Subrayada;
font-size: 25px;
font-weight: 400;
line-height: 30.48px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:  #FFFFFF
    
}

.wrap-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1512px;
    height: 800px;
    margin-top: 80px;
    background:#F9ECE1;
    width: 100%;
    max-width: 1512px;
}

.store-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
}

.check{
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 10px;
    margin-top: 30px;
}

.text-fit{
    width: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 71.82px;
    text-align: left;
    margin-top: 100px;
}

.checking{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    gap: 40px;
}

.content-wrap{
    display: flex;
    margin-top: 100px;   
    gap: 80px;
}
.container{
    display: flex;
    flex-direction: column;
}

.create-subject1{
    width: 457px;
    height: 72px;
    top: 2830px;
    margin-left: 50px;
    font-family: Amazon Ember;
    font-size: 60px;
    font-weight: 500;
    line-height: 71.82px;
    text-align: left;
    color: #525252;
}

.img-create1{
    width: 714px;
    height: 714px;
    top: 2792px;
    left: 731px;
}

.profile-wrap{
    display: flex;
    width: 1515px;
    height: 700px;
    gap: 50px;
    background: #F9ECE1;
    margin-top: 100px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 100px;
    gap: 20px;
   
}

.arrow{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.right-arrow{
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 5px;    
    color:#FFFFFF;
    background: #006970;
    box-shadow: 0px 3px 4px 0px #00000040;
    border-radius: 50%;
}

.left-arrow{
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 5px;
    color: #006970;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px 0px #00000040;
    border-radius: 50%;
}

.facebook, .twitter, .linkedin, .instagram{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 25px;
    font-size: 30px;
    color:white;
    background: #006970;
    box-shadow: 0px 3px 4px 0px #00000040;
    align-items: center;
    border-radius: 50%
}

.profile-pix{
    display: flex;
    align-items: center;
    gap: 30px;
}

.img-create2{
    width: 723px;
    height: 435px;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dummy{
    font-family: Amazon Ember, Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 71.82px;
    text-align: left;
    color: #525252;
}

.text-decor{
    font-family: Amazon Ember, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 40.71px;
    text-align: left;
    color: #525252;
}

.text-decor1{
    font-family: Amazon Ember, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 10px;
    text-align: left;
    color: #9E9E9E;
}

.text-decor2{
    font-family: Amazon Ember;
    font-size: 25px;
    font-weight: 500;
    line-height: 33.92px;
    text-align: left;
    color: #525252;    
}

.mask-img{
    width: 723px;
    height: 435px;
    margin-top: -40px;
    margin-left: 330px;

}

.footer{
    display: flex;
    flex-direction: column;
    width: 1524px;
    height: 367px;
    margin-top: 100px;
    left: -9px;
    background-color: #03494E;
}

.footer1{
    display: flex;
    margin-top: 50px;

}

.logo1{
    width: 134px;
    height: 85px;  
    margin-left: 150px; 
    font-family: Montserrat Subrayada;
    font-size: 70px;
    font-weight: 400;
    line-height: 85.33px;
    text-align: left;
}

.dummy1{
    display: flex;
    gap: 30px;
    width: 500px;
    height: 50px;
    margin-top: 30px;
    margin-left: 580px;
    justify-content: right;
    align-items: center;
}

.support{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Amazon Ember, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.guide{
    list-style: none;
    font-family: Amazon Ember;
    font-size: 17px;
    font-weight: 500;
    line-height: 23.07px;
    text-align: left;
    margin-top: 20px;
    color: #FFFFFF;
}

.head-text{
    font-family: Amazon Ember, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 33.92px;
    text-align: left;
    color: #F9ECE1;
}

.merge{
    display: flex;
    width:1300px;
    margin-top: 20px;
    margin-left: 100px;
    border-top: 1px solid white;
    padding-top: 30px;
    justify-content: center;
    gap: 230px;
}